@charset "utf-8";
/* CSS Document */
/*HOJA DE ESTILOS PARA CONSULTAS
Está separada porque hay conflicto de estilo con la primera*/
.contenido_tabla{
		width: 90%;
		background: white;
		margin: 50px auto;
		box-shadow: 0 0 20px #333;
		
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 50px;
		position: relative;
		
	}

.contenido_tabla2{
		width: 90%;
		background: white;
		margin: 50px auto;
		box-shadow: 0 0 20px #333;
		
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 50px;
		
	}

.titulo2{
		background-color: #6942EB;
		grid-column-start: 1;
		grid-column-end: 4;
		display: flex;
		justify-content: center;
		align-content: center;
		font-weight: bold;
		font-size: 1.9em;
		
	}
	
.titulo{
	background-color: #6942EB;
	grid-column-start: 1;
	grid-column-end: 5;
	display: flex;
	justify-content: center;
	align-content: center;
	font-weight: bold;
	font-size: 1.9em;
		
	}
	
	.cabecera, .info {
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	
	.cabecera{
		font-weight: bold;
		font-size: 1.5em;
	}
	
	.info {
		padding: 10px;
		font-size: 1.2em;
	}

	
	* {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		box-sizing: border-box;
	}
	
	form{
		margin: auto;
		max-width: 500px;
		
	}
	h2 {
		text-align: center;
		margin-bottom: 20px;
		color: rgba(0,0,0,0.5);
	}
	
	input{
		display: block;
		padding: 10px;
		width: 100%;
		margin: 30px 0;
		font-size: 20px;
	}
	input[type="submit"] {
		background-color: #6942EB;
		border: 0;
		color:aqua;
		opacity: 0.8;
		cursor: pointer;
		border-radius: 20px;
		margin-bottom: 0;
	}
	
	input[type="submit"]:hover {
		opacity: 1;
	}
	
	input[type="submit"]:active { /*Cuando se hace click se reduce el radio del botón*/
		transform: scale(0.95);
	}
	
	